
<div class="div">
    <form enctype="multipart/form-data" method="post" ;>
        <table class="table table-bordered">
            <tr>
                <td><label> نام کاربری :</label></td>
                <td>
                    <input type="tel" class="form-control" name=""
                           placeholder="09*********">
                </td>
            </tr>
            <tr>
                <td><label>پسورد :</label></td>
                <td>
                    <input type="password" class="form-control" name=""
                           placeholder="لطفا پسورد را وارد کنبد">
                </td>
            </tr>








        </table>


        <input type="submit" class="form-control" value="ورود"
               style="width: 100px; background-color: rgb(61, 136, 61); margin-right: 430px !important;">




    </form>

    <a href="/Home/Register">
        <input type="submit" class="form-control" value="ثبت نام"
               style="width:150px;   margin-right: 230px; margin-top:50px !important;">
    </a>
</div>


